* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    --dark: #464646;
    --light: #ededed;
}

.container {
    display:grid;
    height: 100%;
    grid-template-columns: 30% 70%;
}


body {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: sans-serif;
    height: 100vh;
}

form {
    display: flex;
}

.new-input {
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;

    transition: border-bottom 150ms ease-in;
    order: 2;
}

.new-input.project {
    font-size: 1.1rem;
}

.new-input:focus{
    border-bottom-width: 3px;
}

.new:focus::placeholder {
    font-weight: 700;
}

.btn {
    cursor: pointer;
    background: 0;
    color: inherit;
}

.btn.create {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 250ms ease-in;
}
.btn:hover {
    color: var(--dark);
}

.task-form dialog {
    padding: 2rem;
    margin: auto;
    border-radius: 1rem;
}
.task-form dialog form {
    display: grid;
    gap: 1rem; 
}

.task-form input, .task-form select{
    order: 0;
    padding: 1rem;
}

.task-form .btn {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 1.5rem; 
    border-radius: 1rem;
    background-color: var(--light);
}

.task-form .form-btns {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.sideBar {
    background-color: var(--light);
    padding: 1rem;
}
