.profile {
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
}

.default {
    display: grid;
}

.profile {
    padding-top: 2rem;
    padding-left: .5rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.profile button {
    padding: 0rem;
}

.project-list {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: none;
}

.active-project {
    font-weight: 700;
}

.list-item {
    cursor: pointer;
}

.list-item:hover {
    opacity: 0.7;
}