.card {
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    gap: 1rem;
    background-color: lightblue;
}

.todo-body {
    display: grid;
    gap: 1rem;
    padding-left: 2rem;
}

.todo-header {
    padding: 2rem 0rem 2rem 2rem;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.task label {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.task {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1.25em;
    align-items: center;
}

.new-input {
    margin: 0;
}
.new-input::placeholder {
    opacity: 0.4;
}

.task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -30%;
    height: 1px;
    background: currentColor;
    opacity: .2;
}

.task label::after {
    content: '' ;
    position: absolute;
    left: 0;
    right: 0;
    left: 1.5em;
    background: currentColor;
    top: 50%;
    height: 2px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 150ms ease-in-out
}

.custom-checkbox {
    --size: .75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 2rem;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
    grid-area: checkbox;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + div > label .custom-checkbox {
    transform: scale(1.1);
}

[type="checkbox"]:checked + label .custom-checkbox {
    background: currentColor;
    border-color: currentColor;
    box-shadow: inset 0 0 0 2px white;
}

[type="checkbox"]:checked + label {
    opacity: .5;
}

[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}

.task-des p {
    display: inline-flex;
    position: relative;
    font-size: .9rem;
}
.task-des p::after {
    content: '' ;
    position: absolute;
    left: 0;
    right: 0;
    background: currentColor;
    top: 50%;
    height: 2px;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 150ms ease-in-out
}

[type="checkbox"]:checked + label + .task-des p::after {
    transform: scaleX(1);
    transform-origin: left;
}

.task-btns img {
    width: 1rem;
}

.task-btns {
    display: flex;
    gap: .6rem;
}